
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.auth-box {
  background: linear-gradient(to bottom, #b2e5f5, #5a9bb3);
  padding: 2rem;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-box input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-primary, .btn-secondary {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: #5fffa2;
}

.btn-secondary {
  margin-top: 0.5rem;
  background-color: #9bffc6;
}

.guest-link {
  margin-top: 1.5rem;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}
